@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import('./external/preset')
@import('./external/normalize')

@import('./general/sizes')
@import('./general/colors')
@import('./general/elements')

@import('./components/navbar')
@import('./components/header')
@import('./components/footer')

@import('./pages/home.styl')
@import('./pages/toepassingsgebieden.styl')
@import('./pages/snijproces.styl')
