$white = #ffffff
$white-hover = rgba(255, 255, 255, 0.9)
$black = #000000
$green = rgba(18, 157, 81, 0.9)
$green-hover = rgba(18, 157, 81, 0.7)
$green-opacity = rgba(18, 157, 81, 0.5)
$black-overlay = rgba(50, 50, 50, 0.8)