body
    width: 100vw;
    overflow-x: hidden;
    background-color: $white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    font-family: 'Muli', sans-serif;

    section
        flex: 1;
        display: flex;

        .content
            flex: 1;
            display: flex;
            padding-top: 60px;
            padding-bottom: 60px;

            .column
                flex: 1 1 0px;
                &:not(:first-child)
                    margin-left: 40px;

.compress
    max-width: $media.max;
    margin: 0 auto;
    padding: 0 $margin.max;




.markdown
    max-width: 520px;
    a
        color: $green;
        text-decoration: underline;
        &:hover
            color: $green-hover

    h2, li, p, a
        font-size: 16px;

    h2
        font-weight: 700;
        margin: 24px 0 12px 0;
        &:first-child
            margin-top: 0;

    ul li
        margin-top: 4px;
        display: flex;
        align-items: center;

        &::before
            content: '';
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: $green;
            margin-right: 8px;

        p, ul
            margin-top: 12px;

ul
    list-style: none;
    padding: 0;
    margin: 0;

a
    color: $black;
    text-decoration: none;

h1, h2, p
    padding: 0;
    margin: 0;

p, a
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.4px;