{% extends 'templates/layout.njk' %}

{% set title = 'Multicracker Benelux | Contact' %}
{% set page = 'Contact' %}
{% set headerText = 'Contact' %}

{% block content %}
  {% include 'partials/navbar.njk' %}
  {% include 'partials/header.njk' %}
  {% include 'pages/contact.njk' %}
  {% include 'partials/footer.njk' %}
{% endblock %}