{% extends 'templates/layout.njk' %}

{% set title = 'Multicracker Benelux | Toepassingsgebieden' %}
{% set page = 'Toepassingsgebieden' %}
{% set headerText = 'Toepassingsgebieden' %}

{% block content %}
  {% include 'partials/navbar.njk' %}
  {% include 'partials/header.njk' %}
  {# {% include 'pages/home.njk' %} #}
  {% include 'partials/footer.njk' %}
{% endblock %}