.snijproces
    
    .images
        max-width: 520px;
        margin-top: 20px;

        img
            margin-top: 20px;
            max-height: 200px;
            max-width: 100%;

    @media(max-width: $media.medium) 
        .content
            flex-direction: column;
            .column
                &:not(:first-child)
                    margin-left: 0;
                    margin-top: 3.75rem;

                .images
                    max-width: 300px;

        

