.toepassingsgebieden
    flex: 1;
    display: flex;
    align-items: center;

    .content
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;

        .markdown
            flex: 0 1 500px;

        .gebieden
            flex: 1 1 0px;
            margin-left: 40px;
            display: flex;
            justify-content: center;

            .gebied
                display: flex;
                &:not(:first-child)
                        margin-top: 40px;

                img
                    width: 40px
                    height: 40px;
                
                .text
                    margin-left: 20px;

                    h2, li, p
                        font-size: 16px;

                    ul li
                        margin-top: 4px;
                        display: flex;
                        align-items: center;

                        &::before
                            content: '';
                            height: 6px;
                            width: 6px;
                            border-radius: 50%;
                            background-color: $green;
                            margin-right: 8px;

                    p, ul
                        margin-top: 12px;
