.toepassingsgebieden

    .gebieden
        display: flex;
        justify-content: center;

        .gebied
            display: flex;
            &:not(:first-child)
                margin-top: 40px;

            img
                width: 2.5rem;
                height: 2.5rem;
            
            .text
                margin-left: 20px;

                h2, li, p
                    font-size: 1rem;

                ul li
                    margin-top: 4px;
                    display: flex;
                    align-items: center;

                    &::before
                        content: '';
                        height: 6px;
                        width: 6px;
                        border-radius: 50%;
                        background-color: $green;
                        margin-right: 8px;

                p, ul
                    margin-top: 12px;


    @media(max-width: $media.medium) 
        .content
            flex-direction: column;
            .column
                &:not(:first-child)
                    margin-left: 0;
                    margin-top: 3.75rem;

                .gebieden
                    justify-content: flex-start;
