footer
    position: relative;
    background-image: url('../images/cracker.png');
    background-size: cover;
    background-position: center;
    @media(max-width: $media.small)
        display: flex;

    .overlay
        position: absolute;
        background-color: $black-overlay;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

    .content
        position: relative
        z-index: 1;

        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2.5rem;
        @media(max-width: $media.xl)
            grid-template-columns: 1fr 1fr 1fr;
        @media(max-width: $media.large)
            grid-template-columns: 1fr 1fr;
        @media(max-width: $media.small)
            grid-template-columns: 1fr;

        a
            position: relative
            flex: 1 0 280px;
            padding: 8px 1.25rem 0 1.25rem;
            height: 6.25rem;
            max-width: 20rem;

            display: flex;
            align-items: center;

            img, .text
                position: relative;
                z-index: 1;

            img
                width: 2.5rem;
                height: 2.5rem;
                flex-shrink: 0;

            p
                font-size: 1rem;
                margin-left: 1.25rem;
                word-break: break-all;

            svg
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;

            &:hover svg
                opacity: .9;

            &.open 
                p
                    font-size: 0.8125rem;
                    color: $white;
                &:hover svg
                    fill: white;
                    fill-opacity: .1;

                    

            


