header
    background-image: url('../images/cracker.png')
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    .spacer
        padding-bottom: 3.75rem;
    
    .wrapper
        display: flex;
        height: 10rem;

        .flag
            background-color: $green;
            display: flex;
            align-items: center;
            padding-left: 'calc(0.5 * (100vw - %s) + 5rem)' % $media.max;

            h1
                color: $white;
                font-size: 2.5rem;
                font-weight: bold;
        svg
            fill: $green;
            height: 100%;

    &.not-home
        position: relative;

        .overlay
            position: absolute;
            background-color: $black-overlay;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

        .wrapper 
            position: relative;
            height: 5rem;

            .flag
                background-color: $green-opacity
                padding-right: 50px;
            svg
                fill: $green-opacity

    @media(max-width: $media.max)
        .wrapper .flag
            padding-left: 5rem;

    @media(max-width: $media.medium)
        .wrapper
            height: 8rem
            .flag
                
                h1
                    font-size: 2rem;

    @media(max-width: $media.small)
        .wrapper 
            height: 6rem
            .flag 
                padding-left: 2rem;
                h1
                    font-size: 1.5rem;

