$flag-height = 100px
$flag-height-home = 220px

header
    background-image: url('../images/cracker.png')
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 90px;
    padding-bottom: 90px;

    .spacer
        padding-bottom: 90px;
    
    .wrapper
        display: flex;
        height: $flag-height-home;

        .flag
            background-color: $green;
            display: flex;
            align-items: center;
            padding-left: 'calc(0.5 * (100vw - %s) + %s)' % ($media.max $margin.max);

            h1
                color: $white;
                font-size: 50px;
                font-weight: bold;
        svg
            fill: $green;
            height: 100%;

    &.not-home
        position: relative;

        .overlay
            position: absolute;
            background-color: $black-overlay;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

        .wrapper 
            position: relative;
            height: $flag-height;
            .flag
                background-color: $green-opacity
                padding-right: 50px;
            svg
                fill: $green-opacity