.navbar
    background-color: #ffffff;
    .content
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    a.logo
        &:hover
            cursor: pointer;
        img
            height: 72px;

    ul
        display: flex;
        padding: 0;
        li
            margin-left: 100px;
            a
                font-size: 24px;
                font-weight: bold;
                &:hover
                    color: $green;