.navbar
    background-color: #ffffff;
    .content
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    a.logo
        &:hover
            cursor: pointer;
        img
            height: 50px;
            // width: 200px;

    ul
        display: flex;
        padding: 0;
        li
            margin-left: 60px;
            a
                font-size: 20px;
                font-weight: bold;
                &:hover
                    color: $green;