.navbar
    background-color: #ffffff;
    .content
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    a.logo
        &:hover
            cursor: pointer;
            opacity: .7;
        img
            height: 3rem;

    ul
        display: flex;
        padding: 0;
        @media (max-width: $media.large)
            display: none;
        li
            margin-left: 3.75rem;
            a
                font-size: 1.25rem;
                font-weight: bold;
                &:hover
                    opacity: .7;

            &.active a 
                color: $green;