{% set contacts = [
    { "src": "../icons/call.svg", "link": "tel:0031486421510", "text": "+31(0)486 421510", "label": "Telefoon" },
    { "src": "../icons/chat.svg", "link": "https://api.whatsapp.com/send?phone=31683488976&text=Test", "text": "+31(0)486 421510", "label": "WhatsApp" },
    { "src": "../icons/mail.svg", "link": "mailto:info@multicrackerbenelux.com", "text": "info@multicrackerbenelux.com", "label": "E-mail" }
] %}

<section class='contact'>
    <div class='content compress'>
        <div class='column'>
            <p>Aarzel niet om contact met ons op te nemen!</p>
            <a class='wrapper left' href='https://www.google.com/maps/place/Stoottroepenweg+2,+Velp,+Netherlands/@51.7446589,5.7283867,17z/data=!3m1!4b1!4m5!3m4!1s0x47c704f2a7540d2b:0x449d7968057cabb5!8m2!3d51.7446589!4d5.7305754'>
                <img src='../icons/person.svg' />
                <p><strong>Multicracker Benelux</strong><br>Ben Janssen-Bouwmeester<br>Stoottroepenweg 2<br>5363 VV Velp, Nederland<br>KvK nummer: 20132623</p>
            </a>
        </div>

        <div class='column'>
            {% for contact in contacts %}
                <a class='wrapper right' href={{ contact.link }}>
                    <img src={{ contact.src }} />
                    <p><strong>{{ contact.label }}</strong><br>{{ contact.text }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</section>