{% set modellen = [
    { "src": "./images/modellen/mc11.png", "name": "Multicracker MC 11" },
    { "src": "./images/modellen/mc300.png", "name": "Multicracker MC 300" },
    { "src": "./images/modellen/mc350.png", "name": "Multicracker MC 350" },
    { "src": "./images/modellen/mc370.png", "name": "Multicracker MC 370" },
    { "src": "./images/modellen/mc600.png", "name": "Multicracker MC 600" },
    { 
        "src": "./images/modellen/ac100.png",
        "name": "Agricracker® AC 100",
        "double": { 
            "length": "1070", 
            "width": "475",
            "height": "400",
            "weight": "225",
            "power": "5,5 kW",
            "cap": "0 - 3"
        }
    },
    { 
        "src": "./images/modellen/ac200.png",
        "name": "Agricracker® AC 200",
        "double": { 
            "length": "1080", 
            "width": "435",
            "height": "520",
            "weight": "365",
            "power": "5,5 kW / 7,5 kW / 9 kW / 11 kW",
            "cap": "0 - 8"
        }
    }
] %}

<section class='modellen'>
    <div class='content compress'>
        <div class='wrapper'>
            {% for model in modellen %}
                {% if model.double %}
                    <div class='model double'>
                        <div class='inner'>
                            <div class='double-item left'>
                                <div class='image' style='background-image: url({{ model.src }})'></div>
                                <p class='name'>{{ model.name }}<p>
                            </div>
                            <div class='double-item right'>
                                <div class='property-wrapper'>
                                    <img src='./icons/dimensions.svg' />
                                    <p>{{ model.double.length }} mm (lengte)<br>{{ model.double.width }} mm (breedte)<br>{{ model.double.height }} mm (hoogte)</p>
                                </div>
                                <div class='property-wrapper'>
                                    <img src='./icons/weight.svg' />
                                    <p>{{ model.double.weight }} kg</p>
                                </div>
                                <div class='property-wrapper'>
                                    <img src='./icons/power.svg' />
                                    <p>{{ model.double.power }}</p>
                                </div>
                                <p><span>De capiciteit is </span>{{ model.double.cap }} ton / uur<span>, afhankelijk van het product en gewenste deeltjesgrootte.</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class='model'>
                        <div class='inner'>
                            <div class='image' style='background-image: url({{ model.src }})'></div>
                            <p class='name'>{{ model.name }}<p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>