{% set contacts = [
    { "src": "../icons/call.svg", "link": "tel:0031486421510", "text": "+31(0)486 421510", "label": "Telefoon" },
    { "src": "../icons/chat.svg", "link": "https://api.whatsapp.com/send?phone=31683488976&text=Test", "text": "+31(0)486 421510", "label": "WhatsApp" },
    { "src": "../icons/mail.svg", "link": "mailto:info@multicrackerbenelux.com", "text": "info@multicrackerbenelux.com", "label": "E-mail" }
] %}

<footer>
    <div class='overlay'></div>
    <div class='content compress'>
        {% for contact in contacts %}
            <a href='{{ contact.link }}'>
                <div class='triangle'></div>
                <div class='background'></div>
                <img src='{{ contact.src }}' />
                <div class='text'>
                    <p class='label'>{{ contact.label }}</p>
                    <p>{{ contact.text }}</p>
                </div>
            </a>
        {% endfor %}
        <a class='open' target='_blank' href='https://www.google.com/maps/place/Stoottroepenweg+2,+Velp,+Netherlands/@51.7446589,5.7283867,17z/data=!3m1!4b1!4m5!3m4!1s0x47c704f2a7540d2b:0x449d7968057cabb5!8m2!3d51.7446589!4d5.7305754'>
            <svg class='border' viewbox='0 0 400 150' preserveAspectRatio='none'>
                <path d='M 2,2 398,27 398,148 2,148 Z' stroke='white' stroke-width='4' fill='none'></path>
            </svg>
            <img src='../icons/location.svg' />
            <div class='text'>
                <p>Ben Janssen-Bouwmeester</p>
                <p>Stroottroepenweg 2</p>
                <p>5363 VV Velp, Nederland</p>
            </div>
        </a>
    </div>
</footer>