{% set home = home|default(false) %}
{% set text = headerText %}

{% if home %}<header>{% else %}<header class='not-home'>{% endif %}
    {% if not home %}<div class='spacer'></div>{% endif %}
    {% if home %}<div class='overlay'></div>{% endif %}
    <div class='wrapper'>
        <div class='flag'>
            <h1>{{ text | striptags(true) | escape | nl2br }}</h1>
        </div>
        <svg viewBox='0 0 1 1'>
            <polygon points='0,0 1,0 0,1' />
        </svg>
        
        <!-- <div class='triangle'></div> -->
    </div>
    {% if home %}<div class='spacer'></div>{% endif %}
</header>