{% set page = page %}
{% set text = headerText %}

{% if page == 'Home' %}<header>{% else %}<header class='not-home'>{% endif %}
    {% if page == 'Home' %}<div class='spacer'></div>{% endif %}
    {% if page != 'Home' %}<div class='overlay'></div>{% endif %}
    <div class='wrapper'>
        <div class='flag'>
            <h1>{{ text | striptags(true) | escape | nl2br }}</h1>
        </div>
        <svg viewBox='0 0 1 1'>
            <polygon points='0,0 1,0 0,1' />
        </svg>
    </div>
    {% if page != 'Home' %}<div class='spacer'></div>{% endif %}
</header>