{% set page = page %}

{% set links = [
    { "link": "./toepassingsgebieden.html", "label": "Toepassingsgebieden" },
    { "link": "./modellen.html", "label": "Modellen" },
    { "link": "./snijproces.html", "label": "Het snijproces" },
    { "link": "./contact.html", "label": "Contact" }
] %}

<div class='navbar'>
    <div class='compress content'>
        <a class='logo' href='./'>
            <img src='./images/logo.png' alt='Multicracker Benelux Logo' />
        </a>
        <nav class='desktop' >
            <ul>
                {% for link in links %}
                    {% if page == link.label %}<li class='active'>{% else %}<li>{% endif %}
                        <a href='{{ link.link }}'>
                            {{ link.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav class='hamburger' >
            <button aria-expanded="false" aria-controls="menu">
                <svg id="i-menu" aria-label="Menu" viewBox="0 0 16 16" fill="none" stroke="#fff" stroke-width="2">
                    <path d="M0 2 L16 2 M0 8 L16 8 M0 14 L16 14"></path>
                </svg>
            </button>
            <ul id="menu" hidden>
                {% for link in links %}
                    {% if page == link.label %}<li class='active'>{% else %}<li>{% endif %}
                        <a href='{{ link.link }}'>
                            {{ link.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>